// Button styles

.nav-btn {
  background: #FF704B;
  color: #fff;
  border-radius: 20px; 
  text-decoration: none; 
  text-transform: uppercase;
  position: absolute;
  left: 85.73%;
  right: 2.27%;
  top: 25%;
  bottom: 25%;
  font-size: 12px;
  padding: 1em;
  letter-spacing: 1px;
}