// Containers styles

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.toggle-container {
  position: absolute;
  right: 0%;
  top: 4%;
}

.logo-container {
  height: 50px;
  position: absolute;
  top: 2%;
  left: 5%;
}

.disney-logo {
  background: url('/images/disney-logo.png');
  // use filter to change the color the disney png
  filter: brightness(0) invert(1); //brightness changes the whole logo to black then invert turns everything white.
  height: 50px;
  background-repeat: no-repeat;
}

.list-container {
  background: #000;
  margin-top: 3em;
  z-index: 1;
}

.user-logo {
  background: #FF704B;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: .4em;
}

// top slider styles

.hero-img-container {
  height: 500px;
}

.hero-img {
  background: url('/images/starwars.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  filter: brightness(40%);
}

.overlay {
  justify-content: center;
  display: flex;
}

// Update section

.covid-update {
  text-align: center;
  padding: 0 1.4em;
}

// Carouselle styles

.film-release-container {
  background: #000;
  padding-left: 3em;
  overflow: hidden;
}

.releases-header {
  position: relative;
}

.releases-carouselle {
  height: 250px;
}

.movie-img-container {
  width: 150px !important;
  height: 200px;
  margin-right: .5em;
}

// Trailer section styles

.trailer-info-container {
  padding: 0 2.5em;
}

// Image row styles
.img-row-container {
  margin-top: 2em;
}

.block-img {
  margin-bottom: .6em;
}

@media (min-width: 768px) {
  .list-container {
    margin: 0;
    left: 20%;
    position: absolute;
  }
  .logo-container {
    left: 2%;
    top: 18%;
  }
  .nav-links {
    font-size: 12px;
  }
  .slider-container {
    padding-top: 5%;
  }
  .hero-img {
    background-position: 40% 50%;
    height: 500px;
  }
  .covid-update {
    padding: 0 1.6em;
  }
  .trailer-container {
    height: 750px;
  }
  .trailer-info-container {
    padding: 10%;
  }
  .img-row-container {
    margin-top: 18%;
  }
}

@media (min-width: 1024px) {
  .list-container {
    left: 16%;
  }
  .user-icon {
    background: url('/images/user.png');
    filter: brightness(0) invert(1);
    background-repeat: no-repeat;
    padding-left: 2em;
    height: 30px;
  }
  .hero-img {
    height: 500px;
  }
  .film-release-container {
    height: 594px;
    padding-left: 8%;
  }
  .update-container {
    padding-bottom: 2em;
  }
  .covid-update {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .movie-img-container {
    height: 429px;
    width: 283px !important;
  }
  .trailer-info-container {
    padding: 12% 10%;
  }
  .img-row-container {
    margin-top: 5%;
  }
  .block-img {
    padding: 4px;
  }
}
