// Containers styles

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.toggle-container {
  position: absolute;
  right: 0%;
  top: 2.5%;
}

.logo-container {
  height: 50px;
}

.disney-logo {
  background: url('/images/disney-logo.png');
  filter: brightness(0) invert(1);
  height: 50px;
  background-repeat: no-repeat;
}

