// Form styles

.contact-form {
  padding: 2em
}

.form-header {
  text-align: center;
}

.form-header h2 {
  font-weight: 400;
}

.input-row {
  margin-bottom: 1em;
}

input,
textarea {
  border: none;
  padding: 8px;
  width: 100%;
}

input[type="text"], textarea {
  background: #fff;
}

input:focus,
textarea:focus {
  background: #E3FDE4;
  color: #000;
  border: 1px solid #000;
  outline: none;
}

.form-submit-btn-container {
  width: 15%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .contact-form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .form-header h2 {
    font-size: 32px;
  }
  input, 
  textarea {
    font-size: 18px;
    padding: 8px 10px;
    width: 80%;
  }
}