// Navbar styling

.navbar {
  height: 58px;
  background: #000;
}

.navbar-toggle {
  cursor: pointer;
  position: absolute;
  right: 10%;
  font-size: 1.2em;
}

.main-nav {
  display: none;
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.main-nav li {
  line-height: 2;
}

.main-nav li:nth-of-type(8) {
  margin-bottom: 1em;
}

.nav-links, .user-btn {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

// make the navigation a block element when expanded from toggle.
.active {
  display: block;
}

@media (min-width: 768px) {
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  // Hide the navbar toggle when the page is 768px or larger.
  .navbar-toggle {
    display: none;
  }
  .main-nav {
    display: flex;
    padding-top: 1.5em;
    margin: 0;
  }
  .main-nav li {
    padding-right: 2%;
  }
  .nav-links {
    font-size: 12px;
  }
}