// Navbar styling

.navbar {
  height: 50px;
  background: #000;
}

.navbar-toggle {
  cursor: pointer;
  position: absolute;
  right: 10%;
  font-size: 1.2em;
}

.main-nav {
  display: none;
  list-style: none;
  padding-left: 0;
}

.nav-links {
  text-decoration: none;
}

// make the navigation a block element when expanded from toggle.
.active {
  display: block;
}

@media (min-width: 768px) {
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  // Hide the navbar toggle when the page is 768px or larger.
  .navbar-toggle {
    display: none;
  }
}