// Typography styles

* {
  font-family: 'Lato', sans-serif;
}

.update-container h1 {
  font-weight: 400;
}

.update-container p {
  color: #c4c4c4;
  font-size: 15px;
  line-height: 1.8;
}

.releases-header h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  width: 710px;
  height: 39px;
  left: 158px;
  top: 1027px;
}

// top slider styles

.overlay-header {
  position: absolute;
  bottom: 28%;
  color: #fff;
  font-weight: 400;
}

@media (min-width: 768px) {
  .overlay-header {
    bottom: 45%;
  }
  .update-header {
    font-size: 28px;
  }
  .update-info {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (min-width: 1024px) {
  .overlay-header {
    bottom: 48%;
  }
  .update-header {
    font-size: 32px;
  }
  .update-info {
    font-size: 18px;
  }
}