// Typography styles

* {
  font-family: 'Lato', sans-serif;
}

.update-container h1 {
  font-weight: 400;
}

.update-container p {
  color: #c4c4c4;
  font-size: 15px;
  line-height: 1.8;
}

.releases-header h2 {
 color: #fff;
 font-size: 18px;
}

.movie-img-container p {
  color: #fff;
  margin: 0;
  font-size: 12px;
}

// top slider styles

.overlay-header {
  position: absolute;
  bottom: 28%;
  color: #fff;
  font-weight: 400;
}

// Trailer section styles

.trailer-header {
  text-transform: capitalize;
  font-weight: 400;
}

.trailer-content {
  font-size: 15px;
  line-height: 1.6;
  color: #c4c4c4;
}

@media (min-width: 768px) {
  .overlay-header {
    bottom: 30%;
  }
  .update-header {
    font-size: 28px;
  }
  .update-info {
    font-size: 16px;
    line-height: 1.5;
  }
  .movie-img-container p {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .overlay-header {
    bottom: 35%;
  }
  .update-header {
    font-size: 32px;
  }
  .update-info {
    font-size: 18px;
  }
  .releases-header h2 {
    font-weight: 400;
    font-size: 28px;
  }
  .trailer-header {
    font-size: 32px;
  }
  .trailer-content {
    font-size: 18px;
  }
}