// Typography styles

* {
  font-family: 'Lato', sans-serif;
}

.update-container h1 {
  font-weight: 400;
  font-size: 32px;
}

.update-container p {
  color: #c4c4c4;
  font-size: 18px;
}

.releases-header h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  width: 710px;
  height: 39px;
  left: 158px;
  top: 1027px;
}

// top slider styles

.overlay-header {
  position: absolute;
  bottom: 18%;
  color: #fff;
  font-weight: 400;
}